@namespace COM617.Components.Modals

<div class="relative z-[60]" aria-labelledby="modal-title" role="dialog" aria-modal="true">
    <div id="dialog-box" class="fixed inset-0 z-10 w-screen h-screen overflow-y-auto shadow-lg">
        <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0 ">
            <div id="modal-container" class="relative transform rounded-lg bg-white px-4 pb-4 pt-5 text-left text-gray-900 shadow-xl transition-all sm:max-w-4xl sm:my-8 sm:w-full sm:p-6 @CustomCSS">
                <div class="absolute right-0 top-0 m-2">
                    <svg @onclick="ModalService!.Close" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-gray-400 cursor-pointer">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                    </svg>
                </div>
                @ChildContent
            </div>
        </div>
    </div>
</div>
