@using COM617.Data
@using COM617.Services
@using COM617.Components.Inputs
@inject VehicleService VehicleService
<Modal>
    <div class="grid grid-cols-1 gap-x-8 gap-y-8 pt-10 md:grid-cols-3">
        <div class="flex flex-col justify-content-between">
            <div class="px-4 sm:px-0">
                <h2 class="text-base font-semibold leading-7 text-gray-900">Vehicle Information</h2>
                <p class="mt-1 text-sm leading-6 text-gray-600">Ensure all information is correct before submitting.</p>
            </div>
            <img src="img/vehicles/@vehicle.ImageSrc" class="pb-[13rem]" />
        </div>

        <form class="bg-white shadow-sm ring-1 ring-gray-900/5 sm:rounded-xl md:col-span-2">
            <div class="px-4 py-6 sm:p-8">
                <div class="grid max-w-2xl grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                    <div class="sm:col-span-3">
                        <label for="vehicle-manufacturer" class="block text-sm font-medium leading-6 text-gray-900">Manufacturer</label>
                        <div class="mt-2">
                            <ComboBox T="string" Options="VehicleService.GetVehicleManufacturers(vehicle.ModelName)" InputChanged="(value) => ChangeValue(nameof(Vehicle.Manufacturer), value)" Selection="vehicle.Manufacturer" />
                        </div>
                    </div>

                    <div class="sm:col-span-3">
                        <label for="vehicle-model" class="block text-sm font-medium leading-6 text-gray-900">Model Name</label>
                        <div class="mt-2">
                            <ComboBox T="string" Options="VehicleService.GetVehicleModels(vehicle.Manufacturer)" InputChanged="(value) => ChangeValue(nameof(Vehicle.ModelName), value)" Selection="vehicle.ModelName" />
                        </div>
                    </div>

                    <div class="sm:col-span-4">
                            <label for="model-number" class="block text-sm font-medium leading-6 text-gray-900">Model Number</label>
                        <div class="mt-2">
                            <input value="@vehicle.ModelNumber" type="text" autocomplete="vehicle-model" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                        </div>
                    </div>

                    <div class="sm:col-span-4">
                        <label for="vehicle-type" class="block text-sm font-medium leading-6 text-gray-900">Vehicle type</label>
                        <div class="mt-2">
                            <SelectDropdown T="VehicleType" Options="Enum.GetValues<VehicleType>().Skip(1).ToList()" SelectionChanged="(type) => ChangeValue(nameof(Vehicle.Type), type)" Selection="vehicle.Type" />
                        </div>
                    </div>

                    <div class="col-span-4">
                        <label for="vehicle-year" class="block text-sm font-medium leading-6 text-gray-900">Year</label>
                        <div class="mt-2">
                            <SelectDropdown T="int" Options="Enumerable.Range(1900, DateTime.Now.Year - 1900).Cast<int>().ToList()" SelectionChanged="(year) => ChangeValue(nameof(Vehicle.Year), year)" Selection="vehicle.Year" />
                        </div>
                    </div>

                    <div class="sm:col-span-2 sm:col-start-1">
                        <label for="vehicle-doors" class="block text-sm font-medium leading-6 text-gray-900">Doors</label>
                        <div class="mt-2">
                            <input @bind-value="vehicle.Doors" type="number" autocomplete="vehicle-doors" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                        </div>
                    </div>

                    <div class="sm:col-span-2">
                        <label for="vehicle-seats" class="block text-sm font-medium leading-6 text-gray-900">Seats</label>
                        <div class="mt-2">
                            <input @bind-value="vehicle.Seats" type="number" autocomplete="vehicle-seats" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                        </div>
                    </div>

                    <div class="sm:col-span-2">
                        <label for="vehicle-reg" class="block text-sm font-medium leading-6 text-gray-900">Registration / Plate</label>
                        <div class="mt-2">
                            <input @bind-value="vehicle.Plate" type="text" autocomplete="vehicle-reg" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex items-center justify-end gap-x-6 border-t border-gray-900/10 px-4 py-4 sm:px-8">
                <button @onclick="ModalService!.Close" type="button" class="text-sm font-semibold leading-6 text-gray-900">Cancel</button>
                @if (!Mode)
                {
                    <button @onclick="Delete" type="submit" class="rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600">Delete</button>
                }
                <button @onclick="Create" type="submit" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">@(Mode ? "Create" : "Modify")</button>
            </div>
        </form>
    </div>
</Modal>