<li>
    <a 
        @onclick="Clicked"
        href="@Link" 
        class="@(Active ? "bg-gray-800 text-white" : "text-gray-400 hover:text-white hover:bg-gray-800") group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold @CustomCSS"
    >
        @ChildContent 
        @Text
    </a>
</li>
